<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Awesome Shoe Shop</title>

        <link rel="stylesheet" href="styles/form.css" />
    </head>

    <body>
        <div class="container">
            <h2>Find the best price for your favorite shoes!</h2>
            <form action="/submit" method="post" id="form">
                <label for="model">Model:</label>
                <input
                    type="text"
                    id="model"
                    name="model"
                    placeholder="E.g., Nike Air Max"
                />
                <span id="modelError" class="error-message"></span>

                <label for="category">Category:</label>
                <input
                    type="text"
                    id="category"
                    name="category"
                    placeholder="man/woman/child"
                />
                <span id="categoryError" class="error-message"></span>

                <button type="submit">Find Price</button>
            </form>
        </div>
        <script src="../validator.js"> </script>
    </body>
</html>
