<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>submit-form</title>
        <link rel="icon" href="images/icon.png" type="image/x-icon">
        <link rel="stylesheet" href="styles/form.css" />
    </head>

    <body>
        <div class="container">
            <h2>Find the best price for your favorite shoes!</h2>
            <form action="/submit" method="post" id="form">
                <label for="model">Model:</label>
                <input
                    type="text"
                    id="model"
                    name="model"
                    placeholder="E.g., Nike Air Max"
                />
                <span id="modelError" class="error-message"></span>

                <label for="gender">Gender:</label>
                <input
                    type="text"
                    id="gender"
                    name="gender"
                    placeholder="man/woman/child"
                />
                <span id="genderError" class="error-message"></span>

                <button type="submit">Find Price</button>
            </form>
        </div>
        <script src="validator.js"> </script>
    </body>
</html>
