body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('../images/backgroundForm.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  }

 
  
  h2 {
    color: #f3f1f1;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  label {
    margin-bottom: 8px;
    color: #555;
    transition: color 0.3s ease;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;
  }

  input:focus {
    border-color: #4caf50;
  }

  button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #45a049;
  }
  .error-message {
   color: red;
   font-size: 14px;
   margin-top: 1px;
   display: block;
   font-style: italic;
  }

  input.error {
    border: 1px solid red;
  
  }